/*
Nicholas Hall, Timothy Wolf, Donya Moxley, Jason Fleurival, Benjamin Ard
CIST2931
Team 3
ChattChiro - Chiropractors
*/

/* 
    Created on : Nov 2, 2020, 3:06:51 PM
    Author     : donyamoxley
*/

/* 
This index container is used to hold the image and define what it does and its height
background-image - sets background image to element.
background-size - sets size of the background image.
background-reoeat - tells image not to repeat.
height - sets height of image.
*/

#home-banner {
    background-image: url('images/index_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
}
